fieldset {
	border: 2px solid gray;
	background-color: white;
}
legend {
	font-size: 24px;
	font-weight: bold;
	color: gray;
}

input, textarea {
	border: 1px solid gray;
	color: #666;
	font-size: 14px;
}

.button {
	width: 100px;
	height: 40px;
	border: 1px solid #ccc;
	background-color: #333;
	color: white;
	padding: 5px;
}
	
	 
	
   	