body {
	font-family: Arial;
}

#head {
	width: 1001px;
	height: 19px;
	padding: 13px 0px 17px 19px;
	background-color: #2c63a9;
}

#navigation {
	width: 582px;
	float: left;
}

#social-icon {
	width: 124px;
	float: right;
}

#navigation ul{
	margin: 0px;
	padding: 0px;
}
	
#navigation li {
	display: inline
}

#navigation li a {
	font-size: 18px;
	font-family: Arial;
	color: #fff;
	background-image: url(pics/menu-bar.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0px 23px 0px 21px;
	text-decoration: none;
}

#navigation li.last > a {
	background-image: none;
}

#social-icon img {
	margin-right: 10px;
}

#background {
	width: 1020px;
	height: 350px;
	background-image: url(pics/vb.jpg);
	background-repeat: no-repeat;
}


#intro {
	width:450px;
	position: relative;
	top: 19px;
	left: 478px;
}

#intro h1 {
	margin: 0px;
	font-size: 36px;
	font-weight: bold;
	color: white;
}

#intro h2 {
	margin: 0px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

#intro p {
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

#content {
	width: 952px;
	height: 150px;
	padding: 27px 30px 22px 38px;
	background-color: #6f98cb;

}

#content h3 {
	margin: 0px;
	color: white;
	font-size: 24px;
	position: relative;
	left: 220px;
}

#content p {
	margin: 0px;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

#footer {
	width: 1001px;
	height: 50px;
	padding: 13px 0px 17px 19px;
	background-color: #2c63a9;
}

#logo-footer {
	float: left;
}

#logo-footer h4 {
	 color: white;
	 font-size: 24px;
	 font-weight: bold;
	 display: inline;
}

#logo-footer h5 {
	color: white;
	font-size: 14px;
	font-weight: bold;
	display: inline;
	margin-left: 8px;
}

#logo-footer p {
	color: white;
	font-size: 11px;
}

#social-icon-footer {
	float: right;
	
}

#social-icon-footer img {
	margin-right: 11px;
}
	 


	
	
	
	